@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <form action="/test/index">
            <label>口令：</label>
            <input type="text" value="" name="pwd" />
            <input type="submit" value="OK" />
        </form>
    </div>
</body>
</html>
