@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedPackTest</title>
</head>
<body>
    <div>
        @TempData["res"];
    </div>
</body>
</html>
