@model Wx.BLL.PrizeCode

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/res/css/code.css" />
    <title>扫码查询结果</title>
</head>
<body>
    <div class="box2">
        <img src="/res/images/code_bg2.gif">
        <div class="box2_tip">
            @if (Model != null)
            {
                <p style="font-size: 15px;">【瓶瓶有礼】@(Model.PrizeName)，领取成功！</p>
                <p>&nbsp;谢谢关注，后续更精彩。</p>
            }
        </div>
    </div>
</body>
</html>
